/* ---[ Starting Styles ]--- */
* {
  box-sizing: border-box;
}
html, body{
  color: #333;
  background: whitesmoke;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  height: 100vh;
}
a {
  color: #448844;
  text-decoration: none;
}
h5,h6 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
h5{
  font-family: Michroma, sans-serif;
  margin: 20px 0;
}
h6 {
  font-size: 16px;
}
/* ---[ End Starting Styles ]--- */
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  width: 365px;
  margin: 20px auto;
}

img.background {
  width: 100%;
  height: 200px;
}

img.avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: -45px;
  border: 4px solid #fff;
}

.avatarBorder {
  text-align: center;
}

.contact {
  margin-bottom: 20px;
}
