body {
	background-image: url('assets/offwhite-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}
img {
	border: 20px solid;
	border-image: url('assets/wood.jpg') 100;
  max-height: 250px;
  max-width: 250px;
}

.override {
  padding: 0;
}

h2 {
  font-family: "Playfair Display", serif;
}
