body {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(assets/record-store.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Special Elite', serif;
	font-size: 60px;
	color: 	#fff;
	text-align: center;
  margin: 0 20px;
}
