body {
  font-family: sans-serif;
  background: #F4BF31;
  color: #99153D;
}

section {
  border: 1px solid #99153D;
  width: 100%;
  height: 300px;
  background-image:
    url("neon-wolf.jpg"),
url("https://cdn5.vectorstock.com/i/thumb-large/51/64/animal-paw-seamless-pattern-vector-6515164.jpg");
  background-repeat: no-repeat;
  background-color: blue;
  background-position: bottom right;
  background-size: contain;
}

/* paws pattern: https://cdn5.vectorstock.com/i/thumb-large/51/64/animal-paw-seamless-pattern-vector-6515164.jpg
*/